{% extends "layout.html" %}

{% block body %}
  <p style="font-size:2em">
    Hello! Here you can keep track of all the pokemon you have caught.
  </p>

  {% if not current_user.is_authenticated %}
  <p style="font-size:1.5em">Please log in or create an account to add and view your pokemon.</p>
  {% endif %}

  <br></br>

  <h4>
    Current Hall of Fame:                                                              
  </h4>
  <p>
    On the top are some users who have caught every pokemon species in the database. Below are the users with the highest amount of legendary pokemon.
  </p>
  <br></br>

  <h5>Users who have caught every pokemon: </h5>
  {% if all_species is defined and all_species %}
  <ul>
    {% for user in all_species %}
    <li>
      {{user.username}}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No such users yet</p>
  {% endif %}
  <br></br>

  <h5>Users who have legendary pokemon:</h5>
  {% if legendaries is defined and legendaries %}
  <table>
    <tr>
      <th>Username</th>
      <th style="padding: 0 10px">Amount of legendary species caught</th>
    </tr>
    {% for user in legendaries %}
    <tr>
      <td>{{user.username}}</td>
      <td style="padding: 0 60px">{{user.amount}}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No such users yet</p>
  {% endif %}

{% endblock %}
