{% extends "layout.html" %}

{% block body %}
  <p style="padding: 20px 0px 0px 0px">{{ pagination.info }}</p>
  <table>
    <tr>
      <th style="padding: 10px">Username</th>
      <th style="padding: 10px">Number of pokemon</th>
    </tr>
    {% if users_individuals is defined %}
    {% for user in users_individuals %}
    <tr>
      <td style="padding: 10px">{{user.username}}</td>
      <td style="padding: 10px 30px">{{user.amount}}</td>
    </tr>
    {% endfor %}
    {% endif %}
  </table>
  <p style="padding: 10px 0px">{{ pagination.links }}</p>
{% endblock %}
