{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Individual</th>
      <th>Level</th>
      <th>Favourite</th>
      <th></th>
    </tr>
    {% for individual in individuals %}
    <tr>
      <td>{{ individual.nickname }}</td>
      <td>{{ individual.level }}</td>
      <td>{{ individual.favourite }}</td>
      <td>
        <form method="POST" action="{{ url_for('individuals_set_favourite', individual_id=individual.id) }}">
          <input type="submit" value="Favourite/Unfavourite"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
